In [7]:
import pickle
import numpy as np
import dataset_methods

In [2]:
games_20 = pickle.load(open("games_20.pkl", "rb"))
games_100 = pickle.load(open("games_100.pkl", "rb"))

In [3]:
games_20

      turns winner                                              moves
0        13  white  [d4, d5, c4, c6, cxd5, e6, dxe6, fxe6, Nf3, Bb...
1        16  black  [d4, Nc6, e4, e5, f4, f6, dxe5, fxe5, fxe5, Nx...
2         9  black  [e4, Nc6, d4, e5, d5, Nce7, c3, Ng6, b4,  ,  ,...
3        14  black  [e4, e5, Nf3, Nc6, Bc4, h6, O-O, Bc5, d3, Nf6,...
4        17  white  [e4, c5, Bc4, Nf6, Nc3, d6, Nf3, g6, Ng5, e6, ...
...     ...    ...                                                ...
1380     18  black  [e4, c5, c3, d6, d4, e6, Bc4, Nf6, Nd2, a6, a3...
1381     12  black  [Nf3, c5, g3, e6, Bg2, g5, d3, Be7, e4, Nc6, B...
1382      8  white  [e4, d6, d4, Nf6, Nc3, g6, Be3, Bg7,  ,  ,  , ...
1383     11  white  [c4, Nf6, Nc3, d5, cxd5, Nxd5, e4, Nf4, d4, c6...
1384      9  white  [c4, e5, d4, exd4, Qxd4, Nf6, Bg5, Be7, e4,  ,...

[1385 rows x 3 columns]

In [4]:
games_100

       turns winner                                              moves
0         13  white  [d4, d5, c4, c6, cxd5, e6, dxe6, fxe6, Nf3, Bb...
1         16  black  [d4, Nc6, e4, e5, f4, f6, dxe5, fxe5, fxe5, Nx...
2         61  white  [e4, e5, d3, d6, Be3, c6, Be2, b5, Nd2, a5, a4...
3         61  white  [d4, d5, Nf3, Bf5, Nc3, Nf6, Bf4, Ng4, e3, Nc6...
4         95  white  [e4, e5, Nf3, d6, d4, Nc6, d5, Nb4, a3, Na6, N...
...      ...    ...                                                ...
16626     37  white  [c4, e6, d4, b6, Nc3, Bb7, Nf3, g6, h4, Bg7, B...
16627     24  white  [d4, f5, e3, e6, Nf3, Nf6, Nc3, b6, Be2, Bb7, ...
16628     82  black  [d4, d6, Bf4, e5, Bg3, Nf6, e3, exd4, exd4, d5...
16629     35  white  [d4, d5, Bf4, Nc6, e3, Nf6, c3, e6, Nf3, Be7, ...
16630     78  black  [d4, d5, Bf4, Na6, e3, e6, c3, Nf6, Nf3, Bd7, ...

[16631 rows x 3 columns]

In [5]:
type(games_20['moves'][0])

list

In [6]:
type(games_100['moves'][0])

list

In [8]:
# # Create train and test data loaders
train_, test_ = dataset_methods.get_dataset("games_20.pkl")

#pull a batch from dataloaders manually by setting batch_size=1 and running the following:
train_batch = next(iter(train_))
print(len(batch[0][0]))
test_batch = next(iter(test_))
print(test_batch)

In [ ]:
def debug(file):